header {
    text-align: center; 
    height: 250px; 
}

h1 {
    font-size: 35px !important; 
}

.form-group {
    width: 50%; 
    margin-left: 25%; 
}

input[type='submit'] {
    margin-left: 37.5%; 
    width: 25%; 
    height: 70px; 
    position: fixed; 
    text-transform: uppercase;
    margin-top: 50px;
}

#cog-icon, #cogDescr {
    font-size: 16px;
}

#cog-icon:hover, #cogDescr:hover {
    cursor: pointer; 
}

.checkboxSection {
    display: none; 
}

#tip {
    font-size: 12px;
}

#reset {
    font-size: 20px; 
}

#reset:hover, #cloverIcon:hover {
    cursor: pointer; 
    opacity: .8; 
}

#cloverIcon {
    font-size: 25px; 
}

@media(max-height: 1200px) {
    .jumbotron {
        font-size: 10px; 
    }
}